html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0px;
}

p{
    font-size: 3vh;
}

/* ************************************* Header ****************************************** */

header{
    background: url("ressources/header_bg.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
}

nav{
    background-color: lightyellow;
    position: fixed;
    width: 100%;
    text-align: left;
    overflow: hidden;
    opacity: 0.5;
}

nav li{
    list-style: none;
    float: right;
}

nav li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo{
    float: left;
}

#accueil{
    padding-top: 100px;
}

#accueil p{
    color: white;
    text-align: center;
    font-size: 7vh;
    text-shadow: 8px 5px 3px gray;
    font-weight: bolder;
    text-decoration: underline;
    position: relative;
    top: 30vh;
}

/* ************************************* Sous-Parties ************************************* */

.sous_partie{
    border: 1px solid gray;
    height: 90vh;
}

/* ************************************* Présentation ************************************* */
#photo_de_profil{
    height: 50vh;
    width: auto;
    border: 3px dashed lightslategray;
    border-radius: 50%;
    position: relative;
    left: 5%;
}

#Presentation{
    background-color: lightsteelblue;
}

#sous_presentation{
    width: 80%;
    display: flex;
    position: relative;
    top: 15%;
    left: 10%;
}

#sous_presentation>p{
    width: 50%;
    position: relative;
    top: 15vh;
    left: 10%;
}