html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    font-size: 1rem;
}

p, a, li{
    font-size: 1em;
}

a{
    text-decoration: none;
    color: black;
}

/* ************************************* Animations ****************************************** */

@keyframes apparitionParLeBas {
    0%{
        opacity: 0;
        transform: translateY(200px);
    }
}

/* ************************************* Header ****************************************** */

header{
    background: url("ressources/header_bg.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
}

nav{
    background-color: lightyellow;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: left;
    opacity: 0.9;
}

nav li{
    list-style: none;
    float: right;
}

nav ul{
    padding: 0;
}

nav li a{
    text-decoration: none;
    text-align: center;
    padding: 1.5vh 1.5vw;
    font-size: 1.2em;
    display: block;
}

nav li a:hover{
    background-color: #333333;
    color: wheat;
    border-radius: 20px;
    transition: ease-in-out 0.2s;
}

#logo{
    float: left;
    font-size: 1.5em;
    padding: 1vh 0.5vw;
    border: 1px solid #333333;
    border-radius: 20px;
    margin: 2vh 1vw;
}

#logo:hover{
    background-color: #333333;
    color: wheat;
    transition: 00.2s ease-in-out;
}

#menuToggle{
    float: right;
    padding: 2vh 2vw;
    margin: 2vh 1.5vw 2vh 1.5vw;
    cursor: pointer;
}

#menuToggle:hover{
    color: wheat;
    background-color: #333333;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
}

#accueil{
    padding-top: 100px;
}

#accueil p{
    color: white;
    text-align: center;
    font-size: 3.5em;
    text-shadow: 8px 5px 3px gray;
    font-weight: bolder;
    text-decoration: underline;
    margin-top: 30vh;
    animation: apparitionParLeBas 2s 1;
}

/* ************************************* Sous-Parties ************************************* */

.sous_partie{
    padding-top: 5vh;
    padding-bottom: 5vh;
    min-height: 100vh;
    font-size: 1.3em;
}

.sous_partie p{
    overflow: auto;
    max-height: 50vh;
}

.sous_partie h2{
    text-align: center;
    font-size: 2em;
    padding: 0;
}

/* ************************************* Présentation ************************************* */
#photo_de_profil{
    height: 50vh;
    width: auto;
    border: 3px dashed lightslategray;
    border-radius: 50%;
    margin-left: 2%;
}

#Presentation{
    background-color: lightsteelblue;
}

#sous_presentation{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5%;
    margin-left: 10%;
}

#sous_presentation>p{
    width: 80%;
    margin-left: 15%;
    margin-top: 7%;
}

/* ********************************* Compétences ************************************ */

#Illustration_competence{
    height: 50vh;
    width: 50vh;
    border: 3px dashed lightslategray;
    border-radius: 50%;
    float: right;
    margin-right: 10%;
}

#Competences{
    background-color: lightgrey;
}

#sous_sous_comp{
    margin-left: 5%;
    margin-top: 7%;
    width: 55%;
    display: grid;
    grid-template-columns: 1fr;

}

#Competences_non_BTS{
    margin-top: 1%;
    /* display: none; */
}

/* ********************************* Etudes ************************************ */

#Etudes{
    background-color: lightsteelblue;
}

#Etudes ul{
    margin-top: 5%;
}

#Etudes li{
    list-style: square;
    margin-left: 10%;
    margin-top: 3%;
}

/* ********************************* Hobbies ************************************ */

#Centres_interet{
    background-color: lightgrey;
}

#Centres_interet p{
    margin-left: 5%;
    margin-top: 5%;
}

#Centres_interet ul{
    margin-top: 0%;
    margin-left: 10%;
}
#Centres_interet li{
    margin-top: 2%;
}

/* ********************************* Footer ************************************ */

footer{
    background-color: lightsteelblue;
    height: 100vh;
    padding-bottom: 3vh;
}

footer h2{
    text-align: center;
    font-size: 5vh;
    margin: 0;
    padding: 10vh 0 5vh 0;
}

input, textarea, button{
    font-size: 1em;
    border: none;
    border-radius: 8px;
    display: block;
    height: 5vh;
    width: 50%;
    margin-top: 2px;
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
    height: 20vh;
    resize: none;
}

button:hover{
    cursor: pointer;
    background-color: lightgrey;
    transition: 0.2s ease-out;
}

#Separation{
    height: 1px;
    width: 75%;
    background-color: black;
    margin: 4.5vh auto;
}

#informations_complementaires p{
    text-align: center;
    font-size: 0.9em;
}

#CopyrightEtIcons{
    display: flex;
    padding: 0 10%;
}

#Copyright{
    width: 50%;
    text-align: left;
}

#Icons{
    width: 50%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1% 0;
}

#Icons a{
    display: inline-block;
    color: white;
    padding: 1% 3%;
}

#Icons a:hover{
    transform: scale(1.5);
    transition: ease-in-out 0.1s;
}

/* ************************* média queries ****************************** */

@media screen and (max-width: 768px){
    #sous_presentation{
        grid-template-columns: 1fr;
    }
    .sous_partie {
        height: fit-content;
    }
    #menuToggle{
        display: inline;
    }
    nav ul{
        display: none;
    }
}
@media screen and (max-width: 1024px){
    #menuToggle{
        display: inline;
    }
    #sous_presentation, #sous_competence {
        grid-template-columns: 1fr;
    }
    #sous_presentation *, #sous_competence *{
        margin: 1vh auto;
    }
    #Illustration_competence{
        margin: 1vh 25vw;
    }
    nav ul {
        display: none;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1024px) {
    #menuToggle{
        display: none;
    }
    #sous_presentation {
        grid-template-columns: 1fr 3fr;
    }
    #sous_comp{
        grid-template-columns: 3fr 1fr;
    }
    nav ul{
        display: flex;
        align-items: center;
    }
}